PORT=4300
MONGO_URL="mongodb://localhost:27037/unicorn"
S3_ENDPOINT="https://xxxxx.cloudfront.net"
S3_ACCESS_KEY_ID="XXXXXXXXXX"
S3_SECRET_ACCESS_KEY="xxxxxxxxx"
S3_BUCKET="xxxxxxx"
S3_REGION="xxxxx"
